name: Test Suites

# We are a reusable Workflow only
on:
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: false

env:
  MODULE_ID: ${{ github.event.repository.name }}

jobs:
  tests:
    name: Tests ${{ github.event.repository.name }}
    runs-on: ${{ matrix.os }}
    env:
      DB_USER: root
      DB_PASSWORD: root
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        jdkVersion: ["21"]
        experimental: [false]
        ftpMode: ["active", "passive"]
        #include:
        #- jdkVersion: "17"
        #  os: "windows-latest"
        #  experimental: true
        # Disabled for now until we can figure out the gradle matrix
        #- jdkVersion: "17"
        #  os: "ubuntu-latest"
        #  experimental: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.jdkVersion }}

      - name: Setup FTP Server
        run: |
          sudo apt install -y vsftpd
          sudo service vsftpd start
          sudo cp ./resources/vsftpd.conf /etc/vsftpd.conf

          hdir="/home/test_user"
          encrypted=`echo testpass | openssl passwd -6 -stdin`
          sudo useradd -m --home-dir $hdir -p $encrypted test_user

          sudo cp -rT ./resources/ftp_files $hdir

          sudo chown -hR test_user:root $hdir

          sudo service vsftpd restart
          sudo service --status-all

          echo "Copying ./src/test/resources/.env.example"
          sudo cp ./src/test/resources/.env.example ./src/test/resources/.env

          printf "Listing FTP Files\n"
          ls -lR $hdir

      - name: Test Module
        run: |
          ./gradlew downloadBoxLang
          # this is done in order to build the module structure before testing
          ./gradlew shadowJar test --stacktrace --console=plain

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests-${{ matrix.os }}-${{ matrix.jdkVersion }}-${{ matrix.ftpMode }}
          path: |
            **/build/reports/tests/**
            **/build/test-results/**

      - name: Inform Slack
        if: ${{ failure() && github.ref == 'refs/heads/development' }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: coding
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
          SLACK_ICON_EMOJI: ":bell:"
          SLACK_MESSAGE: "${{ env.MODULE_ID }} Tests FAILED!  You broke the build! :("
          SLACK_TITLE: "${{ env.MODULE_ID }} Build Failure"
          SLACK_USERNAME: CI
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          MSG_MINIMAL: true

  publish-test-results:
    name: Publish Test Results
    runs-on: ubuntu-latest
    needs: tests
    if: always()
    permissions:
      checks: write
      pull-requests: write
      contents: read
      issues: read
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            artifacts/**/*.xml
